.display-flex {
  display: flex;
}

.display-flex-column {
  flex-direction: column;
}

.display-flex-center {
  justify-content: center;
  align-items: center;
}

h1{
  text-transform: capitalize;
}

h5 {
  opacity: 0.9;
}

h3 {
  color: white;
  opacity: 0.8;
  font-weight: 200;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.instruction-panel {
  width: 60rem;
  gap: 15px;
  border-radius: 15px 15px 0px 0px;
}

.result-panel {
  border-radius: 0px 0px 15px 15px;
  width: 60rem;
}

.add-color {
  background-color: #24232b;
  padding: 20px 5%;
  margin-bottom: 20px;
}

.check-holding {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button-holder {
  width: 60rem;
  gap: 15px;
}

.icons:active {
  color: rgb(164, 163, 163);
}

.icons:hover {
  cursor: pointer;
}

.character-div {
  justify-content: space-between;
}

.button-go > Button {
  margin-top: 20px;
  width: 100%;
}

.error {
  font-size: 14px;
  font-weight: 400;
  color: rgb(254, 89, 89);
}

.password-tab {
  padding: 5px 20px;
  height: 70px;
  border: 1px solid rgba(219, 219, 219, 0.518);
  margin-bottom: 20px;
}

.progress-bar {
  height: 3px;
}


@media (min-width: 0px) and (max-width: 660px)
{
  .instruction-panel, .button-holder, .result-panel{
    width: 20rem;
  }

  .check-holding{
    flex-direction: column;
  }
}

@media (min-width: 661px) and (max-width: 981px)
{
  .instruction-panel, .button-holder, .result-panel{
    width: 40rem;
  }

  .check-holding{
    flex-direction: column;
  }
}

/* @media (max-width: 690px) {
  .instruction-panel {
    height: auto;
    width: 30rem;
  }
  .check-holding {
    flex-direction: column;
  }
}

@media (min-width: 691px) and (max-width: 1007px) {
  .modal-container {
    width: 20rem;
  }
} */

/* #a4ffaf  640, 1007, above*/
